[mysqld]

datadir=/opt/mysql/data
basedir=/usr/local/mysql

socket=/var/run/mysql/mysql.sock
pid-file=/var/run/mysql/mysql.pid
log-error=/var/log/mysql/mysql.log

port=3306

max_connections=500
max_connect_errors=10

character-set-server=utf8
character_set_filesystem=binary

lower_case_table_names=1
group_concat_max_len=1024


[mysql]


[client]

port=3306
socket=/var/run/mysql/mysql.sock